DB_ROOT_PASSWORD=your_secure_password
DB_NAME=smart_class_db
DB_EXTERNAL_PORT=3307

APP_PORT=8080

JWT_ACCESS_TOKEN_SECRET=your_super_long_access_token_secret_key
JWT_REFRESH_TOKEN_SECRET=your_super_long_refresh_token_secret_key
JWT_EMAIL_VERIFY_TOKEN_SECRET=your_super_long_email_verify_token_secret_key
